@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
  padding: 0;
  margin: 0;
  background-color: #ededed;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

h1 {
  margin: 0;
  color: #1965ee;
  font-size: 24px;
}

li {
  list-style-type: none;
}

.header li {
  margin-right: 10px;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

.row {
  display: grid;
  margin: 20px;
  border: 2px solid #d1e0fb;
}

.grid-item {
  background-color: white;
  text-align: start;
  padding: 20px;
}

p {
  margin: 10px;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.author {
  font-weight: bolder;
  color: #1965ee;
  font-size: 20px;
}

.category,
.current {
  font-size: 16px;
  color: #999;
  font-weight: bold;
}

.item1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.pourcent {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.complete {
  margin: 0;
  font-size: 24px;
}

.list {
  display: flex;
  padding: 0;
  margin-top: 30px;
}

.liste {
  display: flex;
  padding: 0;
}

.circle-wrap {
  background: #0c3a2a;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  margin-right: 200px;
  margin-bottom: 140px;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.mask .fill {
  clip: rect(0, 75px, 150px, 0);
  background-color: #1965ee;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #e7efec;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

li button {
  background-color: white;
  color: #1965ee;
  padding: 5px;
  border: none;
  margin-right: 5px;
}

button[type='submit'] {
  background-color: #2f74ef;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h2 {
  color: #999;
  margin-left: 20px;
}

input {
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid #d1e0fb;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #2f74ef;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 40px;
    margin-left: 20px;
  }

  a {
    font-size: 30px;
    margin-right: 150px;
  }

  .row {
    grid-template-columns: auto auto auto;
  }

  .form {
    flex-direction: row;
    margin: 10px;
  }

  input {
    margin-bottom: 0;
    width: 100%;
    margin-right: 20px;
  }

  input[type="submit"] {
    width: 30%;
  }
}
